// Listpage Style

.content-box {
    max-width: 1076px;
    margin: 0 auto;
    padding: 26px 22px;
    display: flex;
    flex-direction: column;
}

.header-list {
    .sort-list {
        width: 100%;
        height: 40px;
        background: $color-white;
        border-radius: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (min-width: $layout-breakpoint-small) {
            height: 58px;
            border-radius: 35px;
        }

        &-button {
            height: 40px;
            min-width: 156px;
            padding: 8px 24px;
            border-radius: 35px;
            border: none;
            cursor: pointer;
            transition-duration: 0.4s;
            text-decoration: none;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            @media (min-width: $layout-breakpoint-small) {
                height: 58px;
                border-radius: 35px;
                width: 50%;
            }
        }
    }

    .selected {
        font-style: normal;
        font-weight: $font-weight-regular;
        font-size: 18px;
        line-height: 21px;
        color: $color-white;

        background: $color-orange;
        &:hover {
            background: darken($color-orange, 8);
            transition: all 0.8s
          }
    }

    .produced {
        font-style: normal;
        font-weight: $font-weight-regular;
        font-size: 18px;
        line-height: 21px;
        color: $color-dark-gray;

    }

    .search {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 26px 0;

        .add-button {
            background: $color-green url(./img/icons/add-ic.svg) no-repeat center;
            @media (min-width: $layout-breakpoint-small) {
                display: none;
            }
        }

        .new-offer-button {
            display: none;
            @media (min-width: $layout-breakpoint-small) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 284px;
                height: 58px;
                border-radius: 35px;
                background: $color-green;
            }
            &:hover {
                background: darken( $color-green, 8);
                transition: all 0.8s
            }

            .arrow-icon {
                width: 20px;
                height: 20px;
                margin-right: 14px;
                background: $color-green url(./img/arrow.svg) no-repeat center;
            }

            &-text {
                text-decoration: none;
                font-style: normal;
                font-weight: $font-weight-regular;
                font-size: 18px;
                line-height: 21px;
                color: $color-white;
                @media (min-width: $layout-breakpoint-small) {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }

        &-button {
            position: relative;
            width: 20px;
            height: 20px;
            top: 10px;
            left: 50px;
            cursor: pointer;
            float: left;
            background: url(../style/img/search-ic.svg) no-repeat center / contain;
            @media (min-width: $layout-breakpoint-small) {
                width: 22px;
                height: 22px;
                top: 20px;
                left: 60px;
            }
        }

        .search-input {
            width: 100%;
            height: 40px;
            padding: 10px 18px;
            margin-left: 16px;
            border-radius: 30px;
            border: none;
            background: $color-white;
            overflow: hidden;
            &::placeholder {
                font-style: normal;
                font-weight: $font-weight-regular;
                font-size: 18px;
                line-height: 21px;
                color: $color-light-gray;

            }
            @media (min-width: $layout-breakpoint-small) {
                height: 58px;
                border-radius: 35px;
            }
        }

    }
}

.divider {
    height: 3px;
    border-radius: 2px;
    background: $color-white;
    @media (min-width: $layout-breakpoint-small) {
        width: 100%;
        height: 5px;
        margin: 0 auto;
        border-radius: 2px;
      }
}


// CARD STYLE

.card {
    @media (min-width: $layout-breakpoint-md) {
        display: none;
    }
    .content {
        padding: 24px;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-left {
            display: flex;
        }

        .car-icon {
            width: 66px;
            height: 25px;
            background: url(./img/icons/car-ic.svg) no-repeat center;
        }

        .edit-button {
            margin: 0 16px;
            background: $color-green url(./img/icons/edit-ic.svg) no-repeat center;
        }

        .email-button {
            background: $color-green url(./img/icons/email-ic.svg) no-repeat center;
        }
    }

    &-divider {
        margin-top: 24px;
        border-bottom: 2px solid $color-blue;
        border-radius: 2px;
    }

    // CARD CONTENT STYLE

    .car-info {

        &-label {
            font-style: normal;
            font-weight: $font-weight-regular;
            font-size: 18px;
            line-height: 21px;
            color: $color-gray;
        }

        &-text {
            font-style: normal;
            font-weight: $font-weight-bold;
            font-size: 20px;
            line-height: 23px;
            color: $color-blue;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 14px;

            .special {
                font-style: normal;
                font-weight: $font-weight-bold;
                font-size: 20px;
                line-height: 23px;
                color: $color-green;
            }

            .hidden {
                visibility: hidden;
            }
        }
    }
}

.card-desktop {
    display: none;
    @media (min-width: $layout-breakpoint-md) {
        display: block;
    }

    &-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        padding: 26px 22px;
        font-style: normal;
        font-weight: $font-weight-regular;
        font-size: 14px;
        line-height: 16px;
        color: #F5F5F5;

        .column-1 {
            padding: 0 12px;
        }

        .column-4 {
            position: relative;
            right: 20px;
        }
        .column-5 {
            position: relative;
            right: 35px;
        }
        .column-6 {
            position: relative;
            right: 40px;
        }
        .column-7 {
            position: relative;
            right: 30px;
        }
        .column-8 {
            position: relative;
            right: 10px;
        }
    }

    &-row {
        width: 100%;
        height: 45px;
        margin-bottom: 9px;
        border-radius: 35px;
        background: $color-white;
        padding: 0 22px;

        .row-cell {
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            align-items: center;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #21325E;

            span {
                color: #E5E5E5;
            }


            .cell-checkbox {
                padding: 0 40px;

                &-icon {
                    width: 16px;
                    height: 16px;
                    background: url(./img/check-ic.png) no-repeat center / contain;
                }
            }

            .unchecked {
                .cell-checkbox-icon {
                    visibility: hidden;
                }
            }
        }
    }

    .row-selected {
        background: $color-orange;

        .row-cell {
            color: $color-white;
        }

        .cell-checkbox-icon {
            width: 16px;
            height: 16px;
            background: url(./img/check-white-ic.png) no-repeat center / contain;
        }
    }
}