// ==== Main Section ==== //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 1076px;
    min-height: 100vh;
    margin: 0 auto;
    direction: rtl;
    font-family: $font-family;
  }

  main {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    background: url(../style/img/mobile-background.png) no-repeat top / cover;
    z-index: -1;

    &::after {
      content: "";
      position: absolute;
      background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 12.59%, rgba(0, 0, 0, 0) 101.31%),
       rgba(33, 50, 94, 0.8);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }

    @media (min-width: $layout-breakpoint-small) {
      background: url(../style/img/desktop-background.png) no-repeat top / cover;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  // Header Section

  .topnav {
    padding: 22px 12px;
    width: 100%;

    input {
      width: 100%;
      height: 36px;
      padding: 8px;
      border-radius: 30px;
      border: none;
      background: $color-very-light-gray;
    }
  }

  .user {
    border-top: 1px solid $color-light;
    padding: 12px;

    &-info {
      display: flex;
      align-items: center;

      &-title {
        color: $color-green;
        font-weight: $font-weight-regular;
        font-style: normal;
        font-size: 10px;
        line-height: 10px;

        p {
          margin-right: 12px;
        }

        span {
          font-weight: $font-weight-bold;
        }
      }
    }

    &-subtitle {
      color: $color-orange;
      margin-top: 8px;
    }
  }


  //  Form Section
  //  Form Header Style 

section {
  padding: 16px 10px;
}

.form {
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    padding: 24px 0;
    margin: 0 22px;

    &-icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    &-title {
      margin-right: 12px;
      font-style: normal;
      font-weight: $font-weight-bold;
      font-size: 24px;
      line-height: 28px;
      color: $color-white;
    }

    
  }

  .divider {
    margin: 0 22px;
    border-bottom: 2px solid $color-white;
  }

  .subtitle {
    text-align: center;
    margin-top: 48px;
    padding: 0 24px;
    font-style: normal;
    font-weight: $font-weight-regular;
    font-size: 24px;
    line-height: 28px;
    color: $color-white;

  }

  form {
    padding: 0 12px;

    .input-box {
      margin-top: 48px;
    }
    
    label {
      font-style: normal;
      font-weight: $font-weight-regular;
      font-size: 18px;
      line-height: 21px;
      color: $color-white;

    }
    input {
      width: 100%;
      height: 40px;
      padding: 8px;
      margin: 12px 0;
      border-radius: 30px;
      border: none;
      background: $color-white;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 92px 0; 
    }

    .back-button {
      background: $color-light-gray;
      &:hover {
        background: darken($color-light-gray, 8);
        transition: all 0.8s
      }
    }

    .submit-button {
      background: $color-green;
      &:hover {
        background: darken( $color-green, 8);
        transition: all 0.8s
      }
    }
  }
}