// ==== Color System ==== //

$color-green: rgba(0, 156, 65, 1);
$color-orange: rgba(255, 119, 40, 1);
$color-blue: rgba(29, 64, 118, 1);
$color-dark-blue: rgba(33, 50, 94, 1);
$color-dark-gray: rgba(95, 95, 95, 1);
$color-gray: rgba(121, 121, 121, 1);
$color-light-gray: rgba(177, 177, 177, 1);


// ==== Typography System ==== //

$font-family: 'Arimo', sans-serif;
$font-size: 18px;

$font-weight-regular: 400;
$font-weight-bold: 700;


// ==== Layouts ==== //

$layout-mobile: 375px;
$layout-desktop: 1440px;